h1 {
    text-align: center;
    color:purple;
  } 
h2,h3,h4,h5 {
    color:purple;
    margin-left: 400px;
  } 
img {
width: 350px;
height:350px;
margin-left: 350px;
margin-right: 50px;
} 

button{
    background-color:pink;
}

body{
    background-color: plum;
}

p{
    font-weight: bolder;
    margin-left: 400px;
    color: purple;
}

*{
background-color: plum;
}
nav {
  background-color: purple;
  padding: 10px;
}

nav ul {
  list-style-type: none;
  margin: 0;
}

nav li {
  display: inline;
  margin-right: 25px;
}

nav a {
  color: white;
  font-size: 1.5em;
}

nav a:hover {
  color: pink;
  text-decoration: none;
}
